@import url("//cdn.web-fonts.ge/fonts/bpg-web-001-caps/css/bpg-web-001-caps.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-arial-caps/css/bpg-arial-caps.min.css");



#particles-js {
  widows: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

body{
  background: #f7f7f6;
}

.login-box{
  position:relative;
  z-index: 999;
  width: 58%;
  padding: 30px;
  margin: 110px auto 0;
  min-height: 420px;
  box-shadow: 0 10px 40px 0 rgba(0,0,0,.2)!important;
  border-radius:5px;
  background:#fff;
  margin-bottom: 100px;
}

.logo{margin-top:30px;margin-bottom:10px;}.txt_rose{color:#c61079;font-weight:bold;font-family:"BPG WEB 001 Caps",sans-serif;}.txt_regular{color:rgba(0,0,0,.9);font-family:"BPG Arial Caps",sans-serif;}.arial{font-family:"BPG Arial Caps",sans-serif;}.results_info{border-right:1px solid silver;}
.form-group>label{font-family:"BPG Arial Caps",sans-serif;}.form-group>input:focus{outline:0px!important;-webkit-appearance:none;box-shadow:none !important;}#authform{margin-top:40px;}#header_wrapper{width:90%;margin:0 auto;}.error_box_inner{width: 100%;background: #ff5454;border-radius:2px;padding: 10px;color:#fff;font-size: 20px;}





input:focus, textarea:focus, button:focus {
  outline: 0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  /*border: 1px solid #c61079;*/
}

.submit-button:hover {
  background: #940055;
  color: #fff;
}

.error_box_hide {
	float: right;
}

.g_btn {
  outline: none;
}

.marks_table {
  width: 100%;
}

.results_header_track {
  color: #365682;
  font-weight: bold;
  font-family: 'BPG WEB 001 Caps', sans-serif;
}

.detailed_answers_button {
  /*padding-top: 20px;*/
  position: relative;
  top: 6px;
}

.cp_logo {
	position: absolute;
  /*margin-top: -10px;*/
  top: 10px;
	left: calc(50% - 80px);
}


.main_form {
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
}

.submit-button {
  color: #fff;
  background: #c61079;
  border-radius: 25px;
  outline: none;
  float: right;
  font-family:"BPG Arial Caps",sans-serif;
}


#page {
  margin-top: 30px;
}

textarea.form-control {
  min-height: 100px;
}


.home_header_left,
.home_header_right {
  display: inline;
  width: 49%
}

.home_header_left {
  float: left;
  text-align: left;
}
.home_header_right {
  float: right;
  text-align: right;
}


@media only screen and (max-width: 600px) {
  .login-box {
    width: 95%;
  }
  body {
    overflow-x: hidden;
  }
  .home_header_left > a > img {
    height: 70px;
  }
  /*#particles-js {
      display:none;
  }*/
  .txt_rose {
    font-size: 35px;
  }
  .txt_regular {
    font-size: 20px;  
  }
}




/*
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file_input_button {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}*/


.error_box {
  width: 400px;
  background: #f44336;
  border-radius: 2px;
  margin-top: 30px;
  padding: 10px;
  color: #fff;
  position: fixed;
  top: 10px;
  right: 20px; 
  z-index: 99999;
}



.success_box {
  width: 400px;
  background: #008a5a;
  border-radius: 2px;
  margin-top: 30px;
  padding: 10px;
  color: #fff;
  position: fixed;
  top: 10px;
  right: 20px; 
  z-index: 99999;
}


.captcha_code_input {
  width: 170px; 
}


@media only screen and (max-width: 600px) {
  .error_box, .success_box {
    width: 100%;
    right: 0; 
    top: -30px;
  }
}


.modal_hider {
  float: right;
  cursor: pointer;
}



h1.txt_rose {
  width: 100%;
}