

			<div class="row">
				
				<h1 class="txt_rose">Feedback ფორმა</h1>
				<h5 class="txt_regular">რაღაცა საკაიფო საიტია იმენა</h5>

				<form class="main_form" id="support-form" name="Form" action="" method="post" enctype="multipart/form-data">

				  <div class="form-group">
				    <label>სათაური</label>
				    <input type="text" class="form-control" ng-model="user.subject" name="subject" autocomplete="off" required>
				    <span class="error text-danger" ng-show="Form.subject.$error.required && Form.subject.$touched">ეს ველი აუცილებელია</span>
				  </div>

				  <div class="form-group">
				    <label>ტექსტი</label>
				    <textarea class="form-control" ng-model="user.text" name="text" autocomplete="off" required></textarea>
				    <span class="error text-danger" ng-show="Form.text.$error.required && Form.text.$touched">ეს ველი აუცილებელია</span>
				  </div>	

				  <div class="form-group">
				  	<label>ფაილის მიმაგრება</label>
				    <input type="file" name="feadback_file" class="file_upload_area">
				  </div>	

				  <div class="form-group">
						<div class="col-md-2">
							<img src="manage/captcha.php?rand=1" id="captcha_image">
							<input type="text" name="captcha_value" class="form-control captcha_code_input" ng-model="user.captcha" name="captcha" autocomplete="off" required> 
						</div>
				  </div>

				  <button type="submit" class="btn btn-lg btn-flat submit-button" ng-disabled="Form.$invalid">გაგზავნა</button>
				</form>



			</div>