			<h3 class="txt_rose">feedback ფორმა</h3>
				<div class="home_header_left">
					<h1 class="txt_rose">Feedback ფორმა</h1>
					<h5 class="txt_regular">რაღაცა საკაიფო საიტია იმენა</h5>
				</div>
				<div class="home_header_right"></div>